
@{
    Layout = null;
}

<html>
    <head></head>

<body>
    <h2>Index</h2>


    <div>

        <input type="file" id="imgsource" />
        <div><img id="image" /></div>
        <div id="result"></div>

    </div>

    <script type="text/javascript" src="~/bower_components/cropper/dist/cropper.js"></script>

    <script type="text/javascript">
        (function () {

            window.addEventListener('DOMContentLoaded', function () {
                var image = document.getElementById('image');
                var button = document.getElementById('button');
                var result = document.getElementById('result');
                var croppable = false;
                var cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 1,
                    ready: function () {
                        croppable = true;
                    }
                });
            });


        })();

    </script>
</body>

</html>


